právě jste byl zaregistrován do okrskové volební komise prostřednictvím <% if @commisary.user_id==2 %>Strany soukromníků České republiky<% else %>Svobodných<% end %>.

Vaše jméno a níže uvedené údaje předáme starostovi příslušné obce a z obecního úřadu Vás budou sami kontaktovat a informovat o prvním zasedání okrskové volební komise, na kterém bude vylosován předseda komise. Delegační dopisy odesíláme najednou, po uzávěrce registrací.

Vaše účast ve volební komisi není jen obyčejným přivýdělkem, ale pomůžete chránit průběh voleb v České republice.

Vyplněné údaje pro delegaci:

Kraj:               <%= @commisary.ward.town_hall.region.name %>
Obec:               <%= @commisary.ward.municipality.name %>
Městská část/obvod: <%= @commisary.ward.district.try(:name) %>
Okrsek:             <%= @commisary.ward.external_id %>

Jméno:              <%= @commisary.name %>
Datum narození:     <%= @commisary.birth_number %>
Adresa:             <%= @commisary.address %>
Koresp. adresa:     <%= @commisary.shipping_address %>
Telefon:            <%= @commisary.phone %>
Email:              <%= @commisary.email %>

Pokud nejsou uvedené údaje správné, můžete je sami opravit na https://okrsky.svobodni.cz , kde můžete svou registraci případně i zrušit.

Vaše přihlašovací jméno: <%= @commisary.email %>
Heslo: <%= @commisary.password %>
